addnewschool-page{

  
   
 


    .ion-item-lable{
        div{
            ion-icon{
                margin:0px 0px 9px 0px !important;
            }
            div{
                ion-label{
                    margin: 0px 0px 0px 0px;
                }
            }
        }
    }
 

    .nonmemcard {
        padding: 14px 0;
    }

    
}