page-paymentstatusemail {
    .scroll-content {
        background-image: none !important;
        padding: 16px 9px !important;
        background-color: #f7f7f7;
    }
    .SesType{
        max-width: 100%;
        width: 100%;
    }
}
